/* lms_course_module css file starts here */

.lms_course_module .ai
{
    background-image: url("../images/blue-screen-background-1280-x-720-8iw3i8lgj1fd7hku.jpg");
    height: 30vh;
    /* color: white; */
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.ai p{
    font-size: 50px;
    font-weight: bold;
}
.tab{
    border: 1px solid white;
    border-radius: 12px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

.tab-container {
    overflow: hidden;
    padding: 10px;
}
.tabcontent {
    display: none;
    padding: 20px;
}
.straight-line {
    /* Styling for the line beneath the title */
    display: block;
    border-bottom: 2px solid #D39E48; /* Adjust color as needed */
    margin-bottom: 10px; /* Add some spacing below the line */
}
.tabcontent h3 {
    margin-top: 0;
}
/* Styles for the tab buttons */
.tablinks {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 10px 16px;
    text-decoration: none;
    color: #000;
    transition: background-color 0.3s ease;
    margin-right: 50px;
  }
  
  .tablinks.active {
    background-color: white;
    color: #D39E48;
    border-radius: 12px;
    /* border-bottom: 2px solid #D39E48;  */
  }
  
  .tablinks:hover {
    border-radius: 12px;
    background-color: #f8f9fa;
    color: #D39E48;
  }
  .course_info{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
  }
  .icons{
    display: flex;
    gap: 12px;
    padding: 15px;
    /* margin-left: 20px; */
    text-align: center;
    justify-content: center;
  }
  .course_description{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:20px;
  }
  .course_description .fa-solid {
    margin-bottom: 12px
  }
  .details_of_course{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;
    border: 2px solid black;
    border-radius: 12px;
    padding: 12px;
    box-shadow:5px 5px 5px rgba(255, 243, 243, 0.2);
    background-color: white;
    width:1000px;
    position: relative;
    bottom:  100px;
    left: 150px;
  }

.content_questions{
    display: flex;
    gap: 12px;
    padding: 13px;
    align-items: center;
    text-align: center;
    border: 1px solid white;
    border-radius: 12px;
    background-color: #F9FAFC;
    margin-bottom: 12px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

.content_questions h5,
.about_questions h5,
.author_questions h5 {
  color: #000;
}
.content_questions h5:hover,
.about_questions h5:hover,
.author_questions h5:hover {
  color: #D39E48;
}
.about_questions.hidden {
  display: none;
}
.author_questions.hidden {
  display: none;
}
.about_questions,.author_questions{
    display: block;
    gap: 12px;
    padding: 13px;
    align-items: center;
    text-align: center;
    border: 1px solid white;
    border-radius: 12px;
    background-color: #F9FAFC;
    margin-bottom: 12px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  .btn-custom {
    display: block;
    /* width: 50%; Adjust width as needed */
    margin: 0 auto; /* Centers the button horizontally */
    text-align: center; /* Centers the button text */
    padding: 10px 20px; /* Adjust padding as needed */
    border: 1px solid #FFC107; /* Border color */
    border-radius: 5px; /* Border radius */
    text-decoration: none; /* Removes default link underline */
    color: #000; /* Button text color */
    background-color: transparent; /* Button background color */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
  }
  
  .btn-custom:hover {
    background-color: #FFC107; /* Background color on hover */
    color: #f8f9fa; /* Background color on hover */
  }

  @media screen and (max-width: 768px) {

    /* .details_of_course{
      box-shadow:5px 5px 5px rgba(255, 243, 243, 0.2);
      background-color: white;
      width:auto;
      position:relative;
      bottom: 70px;
      left:0px;
      padding:2px;
    }
    .course_description{
      flex-direction: column;
      gap: 20px;
    }
    .ai p{
        font-size: 20px;
    }
    img{
      width: 100%;
    }
    .course_info{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:5px;
      }
      .tablinks{
        margin-right:10px;
      }
      .tab{
        text-align: center;
      } */

  }
/* lms_course_module css file ends here */

/* course_category starts here */
.course_category{
    background-image: url("../images/blue-screen-background-1280-x-720-8iw3i8lgj1fd7hku.jpg");
    height: 40vh;
    /* color: white; */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.breadcrumb
{
    background-color: transparent;
}

/* .course_category a{
    color: white;
    font-size: 20px;
} */
a{
    text-decoration: none;
}
.course_category p{
    font-size: 50px;
    font-weight: bold;
}

.grid{
    display: grid; 
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.courses{
    width: 80%; 
    margin: 50px auto;
    color: black;
}
.item_description{
    display: inline-block;
    border: 1px solid #E7E7E7;
    border-radius: 6px;
    padding: 15px 5px 15px 18px;
    box-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.5); /* Example shadow */
}
.item_description h3{
    font-size:20px;
    color: black;
    display: inline-block;
}
.item_description p{
    font-size: 15px;
    color: black;
}
@media screen and (max-width: 768px) {
    /* .grid {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .item_description h3{
        display: inline;
        font-size: 20px;
    }
    .item_description p{
      font-size: 15px;
      color: black;
  } */
}


/* course_category ends here */

/* course_list_filter will starts here */
.computer_science{
  background-image: url("../images/blue-screen-background-1280-x-720-8iw3i8lgj1fd7hku.jpg");
  height: 30vh;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.computer_science p{
  font-size: 50px;
  font-weight: bold;
}
.list_details{
  margin: 20px auto;
  
}
.skill_title{
  padding-left: 50px;
  font-size: 2rem;
}
.wide-search {
  width: 300px;
  height: 50px;
background-color: #EDEDED;
margin-left: 15px;
}
.navbar{
  border: 1px solid #EDEDED;
  border-radius: 15px;
  margin-bottom: 50px;
}

.skill_lists{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 20px auto;
}

.list_cards.hidden {
display: none;
}
.straight-line {
  /* Styling for the line beneath the title */
  display: block;
  border-bottom: 2px solid #D39E48; /* Adjust color as needed */
  margin-bottom: 10px; /* Add some spacing below the line */
}


/* tabs */

.tabcontainer {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab {
  display: flex;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 20px;
}

.tabcontent h3 {
  margin-top: 0;
}
/* tabs end */

.list_cards{
display: flex;
gap: 20px;
margin-bottom: 12px;
padding: 20px;
background-color: #E9ECEF;
padding-top: 22px;
padding-bottom: 20px;
box-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.5);
border-radius: 20px;
}
.card-body .card-title{
  font-size: 20px;
}
.card{
  border-radius: 20px;
  box-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.5); /* Example shadow */
}
@media screen and (max-width: 768px) {
  /* .wide-search {
      width: 200px;
  }
  .skill_lists{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap:12px;
  }
  .list_cards img{
    width: 20%;
  }
  .list_cards {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding:5px;
  }
  .list_cards h4{
    font-weight: bold;
  }
  .list_cards h6{
    font-size: small;
  }
  .skill_title{
    padding-left: 2px;
  } */
}
/* course_list_filter will ends here */


/* course_list_without_signin starts here */
.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:50px;
  justify-content: center;
  align-items: center;
}
.size{
  font-size: 30px;
  margin-right: 15px;
  margin-top:8px;
}
.icons{
  display: flex;
  justify-content: start;
}
.breadcrumb{
  font-size: 30px;
}
.flex{
  display: flex;
  gap: 15rem;
}
.btn{
  padding-right:60px;
  padding-left: 60px;
  margin-bottom: 45px;
}
.informations{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 130px;
}
.breadcrumb li a{
  font-size:25px;
  
}
/* course_list_without_signin ends here */
@media screen and (max-width: 768px) {

      /* lms_course_module css file start here */
      .details_of_course{
        box-shadow:5px 5px 5px rgba(255, 243, 243, 0.2);
        background-color: white;
        width:auto;
        position:relative;
        bottom: 70px;
        left:0px;
        padding:2px;
      }
      .course_description{
        flex-direction: column;
        gap: 20px;
      }
      .ai p{
          font-size: 20px;
          /* font-weight: bold; */
      }
      img{
        width: 100%;
      }
      .course_info{
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap:5px;
        }
        .tablinks{
          margin-right:10px;
        }
        .tab{
          text-align: center;
        }
        /* lms_course_module css file ends here */


  /* course category will start here  */
  .grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.item_description h3{
    display: inline;
    font-size: 20px;
    /* font-weight:500; */
}
.item_description p{
  font-size: 15px;
  color: black;
}
/* course category will end here */




/* course_list_filter will start here */

.wide-search {
  width: 200px;
}
.skill_lists{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap:12px;
}
.list_cards img{
width: 20%;
}
.list_cards {
display: flex;
flex-direction: column;
gap: 5px;
padding:5px;
}
.list_cards h4{
font-weight: bold;
}
.list_cards h6{
font-size: small;
}
.skill_title{
padding-left: 2px;
}
 
/* course_list_filter will ends here */


  /* course_list_without_signin starts here */
.grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap:0px;
} 
.breadcrumb{
  font-size: 25px;
} 
img {
  width: 100%;
  margin: 0 auto; 
}
.icons{
  /* display: flex; */
  justify-content: end;
}
.size{
  font-size: 30px;
  margin-right:16px;
  margin-top:8px;
}
.flex{
  flex-direction: column;
  gap:12px;
}
.btn{
  margin-bottom:12px;
}
.informations{
  gap: 10px;
  margin-bottom:10px;
}
}
/* course_list_without_signin ends here */