/* lms_course_module css file starts here */

.lms_course_module .ai
{
    background-image: url("../images/blue-screen-background-1280-x-720-8iw3i8lgj1fd7hku.jpg");
    height: 30vh;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.course_details{
  display: flex;
  gap: 20px;
  align-items: center;
}
.ai p{
    font-size: 50px;
    font-weight: bold;
}
.tab{
    border: 1px solid white;
    border-radius: 12px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

.tab-container {
    overflow: hidden;
    padding: 10px;
}
.tabcontent {
    display: none;
    padding: 20px;
}
.straight-line {
    /* Styling for the line beneath the title */
    display: block;
    border-bottom: 2px solid #D39E48; /* Adjust color as needed */
    margin-bottom: 10px; /* Add some spacing below the line */
}
.tabcontent h3 {
    margin-top: 0;
}
/* Styles for the tab buttons */
.tablinks {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 10px 16px;
    text-decoration: none;
    color: #000;
    transition: background-color 0.3s ease;
    margin-right: 20px;
  }
  .tablinks i{
    padding-right: 12px;
  }
  .tablinks.active {
    background-color: white;
    color: #003a99;
    border-radius: 12px;
    /* border-bottom: 2px solid #D39E48;  */
  }

  .course_info{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
  }
  .course_title .icons{
    display: flex;
    gap: 12px;
    padding: 15px;
    /* margin-left: 20px; */
    text-align: center;
    justify-content: center;
  }
  .course_description{
    display: flex;
    gap:20px;
  }
  .course_description h6{
    color: #D39E48;
  }
  .course_description p{
    font-weight: bold;
  }
.course_title{
  color: #D39E48;
}
  .course_description .fa-solid {
    margin-bottom: 12px
  }
  .details_of_course{
    display: flex;
    flex-direction: column;
    padding-left:22px;
    padding-top:20px;
    gap: 12px;
    border: 2px solid white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    background-color: white;
    width:1100px;
    position: relative;
    bottom:  100px;
    left: 100px;
  }
  .details_of_course h2{
    font-size: 35px;
    font-weight: 400;
  }
.content_questions,
.about_questions,
.author_questions{
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 13px;
    /* gap: 50px; */
    justify-content:space-between;
    align-items: center;
    text-align: center;
    border: 1px solid white;
    /* border-radius: 8px; */
    background-color: #F9FAFC;
    margin-bottom: 12px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  .left-columns h5{
    font-size: 18px;
    display: inline-block;
  
  }
  .left-columns {
    display: flex;
    align-items: center;
    gap: 12px;
    grid-column: span 2; /* Left columns span 2 grid columns */
  }
  
  .right-columns {
    display: flex;
    align-items: center;
    gap: 12px;
    grid-column: span 2; /* Right columns span 2 grid columns */
    justify-self: end; /* Align right columns to the end */
  }
  .right-columns h6{
      color: white;
      background-color: #003A85;
      padding: 3px 15px;
      border-radius: 5px;
  }
  /* .column {
    border: 1px solid #000;
    padding: 10px;
  } */
.content_questions h5,
.about_questions h5,
.author_questions h5 {
  color: #000;
}
.content_questions h5:hover,
.about_questions h5:hover,
.author_questions h5:hover {
  color: #D39E48;
}
.about_questions.hidden {
  display: none;
}
.author_questions.hidden {
  display: none;
}

  .btn-custom {
    display: block;
    /* width: 50%; Adjust width as needed */
    margin: 0 auto; /* Centers the button horizontally */
    text-align: center; /* Centers the button text */
    padding: 10px 20px; /* Adjust padding as needed */
    /* border: 1px solid #D39E48;  */
    border-radius: 5px; /* Border radius */
    text-decoration: none; /* Removes default link underline */
    color: white; /* Button text color */
    background-color: #003a99;
  }
  .btn-custom:hover{
    color: black;
    background-color:transparent;
    border-color: black;
  }
  .card-body  .btn-outline-secondary{
    display: block;
    /* width: 50%; Adjust width as needed */
    margin: 0 auto; /* Centers the button horizontally */
    text-align: center; /* Centers the button text */
    padding: 10px 20px; /* Adjust padding as needed */
    border: 1px solid #6C757D; 
    border-radius: 5px; /* Border radius */
    text-decoration: none; /* Removes default link underline */
    color: #6C757D; /* Button text color */
    background-color: transparent;
  }
  


  @media screen and (max-width: 768px) {

    /* .details_of_course{
      box-shadow:5px 5px 5px rgba(255, 243, 243, 0.2);
      background-color: white;
      width:auto;
      position:relative;
      bottom: 70px;
      left:0px;
      padding:2px;
    }
    .course_description{
      flex-direction: column;
      gap: 20px;
    }
    .ai p{
        font-size: 20px;
    }
    img{
      width: 100%;
    }
    .course_info{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:5px;
      }
      .tablinks{
        margin-right:10px;
      }
      .tab{
        text-align: center;
      } */

  }
/* lms_course_module css file ends here */

/* course_category starts here */
.course_category{
    background-image: url("../images/blue-screen-background-1280-x-720-8iw3i8lgj1fd7hku.jpg");
    height: 40vh;
    /* color: white; */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.breadcrumb
{
    background-color: transparent;
}

/* .course_category a{
    color: white;
    font-size: 20px;
} */
a{
    text-decoration: none;
}
.course_category p{
    font-size: 50px;
    font-weight: bold;
}


.courses{
    /* width: 80%;  */
    margin: 50px auto;
    color: black;
    display: grid; 
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
}
/* .grid{
  display: grid; 
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
  justify-content: center;
  align-items: center;
} */
.item_description{
    display: inline-block;
    border: 1px solid #E7E7E7;
    border-radius: 6px;
    padding: 15px 5px 15px 18px;
    box-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.5); /* Example shadow */
}
.item_description h3{
    font-size:20px;
    color: black;
    display: inline-block;
}
.item_description p{
    font-size: 15px;
    color: black;
}
@media screen and (max-width: 768px) {
    /* .courses {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .item_description h3{
        display: inline;
        font-size: 20px;
    }
    .item_description p{
      font-size: 15px;
      color: black;
  } */

}


/* course_category ends here */

/* course_list_filter will starts here */
.computer_science{
  background-image: url("../images/blue-screen-background-1280-x-720-8iw3i8lgj1fd7hku.jpg");
  height: 30vh;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.computer_science p{
  font-size: 50px;
  font-weight: 500;
  /* font-weight: bold; */
}
.list_details{
  margin: 20px auto;
  
}
.skill_title{
  padding-left: 50px;
  font-size: 2rem;
  font-weight: 400;
}
.wide-search {
  width: 350px;
  height: 30px;
  border-radius: 12px;
background-color: #EDEDED;
}
.search-wrapper{
  position: relative;
  display: inline-block;
  padding-left: 20px;
}
#searchInput {
  padding-left: 40px; /* Adjust as needed based on the icon size */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23ccc" viewBox="0 0 32 32"><path d="M28.565 26.62l-5.735-5.735a9.604 9.604 0 0 0 2.037-5.918C24.867 8.5 19.367 3 12.433 3 5.5 3 0 8.5 0 15.433s5.5 12.433 12.433 12.433c2.585 0 4.96-.806 6.947-2.175l5.718 5.735c.13.13.29.196.454.196.16 0 .322-.066.45-.196.252-.263.252-.69.002-.95zM2 15.433c0-6.05 4.883-10.933 10.933-10.933s10.933 4.883 10.933 10.933-4.883 10.933-10.933 10.933A10.946 10.946 0 0 1 2 15.433z"/></svg>');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px 20px; /* Adjust based on the icon size */

}
.navbar{
  border: 1px solid #EDEDED;
  border-radius: 15px;
  /* margin-bottom: 25px; */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
  margin: 38px;
}

.skill_lists{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 20px auto;
}

.list_cards.hidden {
display: none;
}
.straight-line {
  /* Styling for the line beneath the title */
  display: block;
  border-bottom: 2px solid #D39E48; /* Adjust color as needed */
  margin-bottom: 10px; /* Add some spacing below the line */
}
.icon-edit{
  margin-left: -40px ;
}
.details-btn{
  color: #003A85;
  background-color: transparent;
  background-image: none;
  border-color: #6c757d;
  border: 1px solid;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  padding: 16px 25px;
  border-radius: 12px;
}
.details-btn:hover {
  color: #fff;
  background-color: #003A85;
  border-color: #6c757d;
}
/* tabs */

.tabcontainer {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab {
  display: flex;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.3s;
}


.tab button.active {
  border-bottom: 2px solid #003a99;
}

.tabcontent {
  display: none;
  padding: 20px;
}

.tabcontent h3 {
  margin-top: 0;
}
/* tabs end */

.list_cards{
display: flex;
gap: 20px;
margin-bottom: 12px;
padding: 20px;
background-color: #E9ECEF;
padding-top: 22px;
padding-bottom: 20px;
box-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.5);
border-radius: 20px;
}
.card-body .card-title{
  font-size: 15px;
}
.card-title span{
  padding-left:10px;
  font-weight: 300;
  font-size: 18px;
}

.card{
  border-radius: 20px;
  box-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.5); /* Example shadow */
}
@media screen and (max-width: 768px) {
  /* .wide-search {
      width: 200px;
  }
  .skill_lists{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap:12px;
  }
  .list_cards img{
    width: 20%;
  }
  .list_cards {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding:5px;
  }
  .list_cards h4{
    font-weight: bold;
  }
  .list_cards h6{
    font-size: small;
  }
  .skill_title{
    padding-left: 2px;
  } */
}
/* course_list_filter will ends here */
.course_list_without_signin p{
  background-image: url("../images/blue-screen-background-1280-x-720-8iw3i8lgj1fd7hku.jpg");
  height: 30vh;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* course_list_without_signin starts here */

.grid{
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  display: flex;
  gap:50px;
  justify-content: center;
  align-items: center;
}
.size{
  font-size: 30px;
  margin-right: 15px;
  margin-top:8px;
}
.details .icons{
  display: flex;

}
.breadcrumb{
  font-size: 30px;
}
.flex{
  display: flex;
  gap: 15rem;
}
.btn-primary{
  padding-right:60px;
  padding-left: 60px;
 
}
.informations{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 65px;
}
.informations h4{
  font-weight: 400;
}
.informations h6{
  font-weight: 400;
}
#robot{
  font-weight: 400;
}
.breadcrumb li a{
  font-size:25px;
  
}
/* course_list_without_signin ends here */
@media screen and (max-width: 768px) {


      /* lms_course_module css file start here */
      .left-columns h5{
        font-size: 12px;
      
      }
      .details_of_course{
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        background-color: white;
        width:auto;
        position:relative;
        bottom:50px;
        left:0px;
        padding:15px;
      }
      .details_of_course h2{
        font-size: 20px;
      text-align: center;
      }
      .details_of_course .justify-content-center{
        justify-content: start;
      }

      .course_description{
        flex-direction: column;
        gap: 20px;
      }
      .ai p{
          font-size: 20px;
          /* font-weight: bold; */
      }
      img{
        width: 100%;
      }
      .course_info{
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap:5px;
        }
        .tablinks{
          margin-right:10px;
        }
        .tab{
          text-align: center;
        }
        /* lms_course_module css file ends here */


  /* course category will start here  */
  .courses {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.item_description h3{
    display: inline;
    font-size: 20px;
    /* font-weight:500; */
}
.item_description p{
  font-size: 15px;
  color: black;
}
/* course category will end here */




/* course_list_filter will start here */
.search-wrapper{
  padding-left: 2px;
}
.skill_title{
  font-size: 30px;
}
.icon-edit{
  margin-left: -30px ;
}
.wide-search {
  width: 200px;
}
.skill_lists{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap:12px;
}

.list_cards {
display: flex;
/* flex-direction: column; */
padding:15px;
}
.list_cards img{
  width: 30%;
  height: 30%;

  }
.list_cards h4{
font-weight: bold;
}
.list_cards h6{
font-size: small;
}
.skill_title{
padding-left: 2px;
}
 
/* course_list_filter will ends here */


  /* course_list_without_signin starts here */
.d-flex {
  flex-direction: column;
gap: 0px;
} 
.breadcrumb{
  font-size: 25px;
} 
img {
  width: 100%;
  margin: 0 auto; 
}
.icons{
  /* display: flex; */
  justify-content: end;
}
.size{
  font-size: 30px;
  margin-right:16px;
  margin-top:8px;
}
.flex{
  flex-direction: column;
  gap:12px;
}
.btn{
  margin-bottom:12px;
}
.informations{
  gap: 10px;
  margin-bottom:10px;
}
}
/* course_list_without_signin ends here */